<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!--Data Layer to enable rich data collection and targeting-->
    <script>
    var digitalData = {
        "page": {
            "pageInfo" : {
                "pageName": document.title
                }
            }
    };
    </script>
    <!--/Data Layer-->
    <!--/jQuery-->
    <!--prehiding snippet for Adobe Target with asynchronous Launch deployment-->
    <script>
        (function(g,b,d,f){(function(a,c,d){if(a){var e=b.createElement("style");e.id=c;e.innerHTML=d;a.appendChild(e)}})(b.getElementsByTagName("head")[0],"at-body-style",d);setTimeout(function(){var a=b.getElementsByTagName("head")[0];if(a){var c=b.getElementById("at-body-style");c&&a.removeChild(c)}},f)})(window,document,"body {opacity: 0 !important}",3E3);
    </script>
    <!--/prehiding snippet for Adobe Target with asynchronous Launch deployment-->
    <!--Launch Header Embed Code: PROD-->
    <script src="//assets.adobedtm.com/645cdc4519e1/f7ca60ac2e35/launch-aa24954aa620.min.js" async></script>
    <!--/Launch Header Embed Code-->
    <!--Grab the widgets we need -->
    <script type="text/javascript">
        window._genesys = {
          widgets: {
            webchat: {
              transport: {
                type: 'purecloud-v2-sockets',
                dataURL: 'https://api.inintca.com',
                deploymentKey : '5d0f39f0-5f81-4051-be70-837bc6ff8636',
                orgGuid : '3d943ccc-9000-47c2-82e3-0044a94c11de',
                interactionData: {
                  routing: {
                    targetType: 'QUEUE',
                    targetAddress: 'SalesAndSupport',
                    priority: 2
                  }
                }
              }
            }
          }
        };
        let customPlugin;

        window.setupWidgetListeners = function() {
           customPlugin = CXBus.registerPlugin('Custom');

          customPlugin.subscribe('WebChatService.started', function (e) {
            console.log('Chat started', e);
          });

          customPlugin.subscribe('WebChatService.ended', function (e) {
            console.log('Chat ended', e);
          });
        };
    </script>

    <script src="https://apps.mypurecloud.com/widgets/9.0/cxbus.min.js" onload="javascript:CXBus.configure({debug:false,pluginsPath:'https://apps.mypurecloud.com/widgets/9.0/plugins/'}); CXBus.loadPlugin('widgets-core'); window.setupWidgetListeners();"></script>


    <script>
      (function(a,t,c,l,o,u,d){a['_genesysJourneySdk']=o;a[o]=a[o]||function(){
      (a[o].q=a[o].q||[]).push(arguments)},a[o].l=1*new Date();u=t.createElement(c),
      d=t.getElementsByTagName(c)[0];u.async=1;u.src=l;u.charset='utf-8';d.parentNode.insertBefore(u,d)
      })(window, document, 'script', 'https://apps.inintca.com/journey/sdk/js/web/v1/ac.js', 'ac');
      ac('init', '3d943ccc-9000-47c2-82e3-0044a94c11de', { environment: 'test' });
      ac('pageview');

      ac('on', 'webchat:all', (evt) => {
        _genesys.widgets.bus.command('WebChatService.getSessionData').then((data) => {
          console.log('session data:', {data});
          console.log('webchat event:', {evt});

          if (window.s) {
            s.eVar9 = 'webchat';
            s.eVar10 = `${evt.actionState}`;
            // s.eVarX = "D=mid"; ?
            
            if (data.conversationId) {
              evt.conversationId = data.conversationId;
              s.transactionId = data.conversationId; // conversationId not available before chat is actually started
              s.eVar11 = data.conversationId;
            }
            
            const webActionEventCounter = 'event20';
            const webActionEventCounterSerialized = `event21:${evt.actionId}-${evt.actionState}`;
            s.events = `${adobeEventForActionState},${webActionEventCounter},${webActionEventCounterSerialized}`;
            
            s.contextData.actionMediaType = evt.actionMediaType;
            s.contextData.actionState = evt.actionState;
            
            s.contextData.gpe_web_action_event = evt;
            
            s.t();
            console.log(`Marketing cloud visitor id: ${s.marketingCloudVisitorID}`);
          } else {
            console.log('no analytics found')
          }
        });
      });

      ac('on', 'contentoffer:all', (evt) => {
        if (window.s) {
          s.eVar9='contentoffer';
          s.eVar10=`${evt.actionState}`;
          // s.eVarX = "D=mid"; ?
          s.t();
          console.log(`Marketing cloud visitor id: ${s.marketingCloudVisitorID}`);
        } else {
          console.log('no analytics found')
        }
      });
    </script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
